# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Waldo
*.pdb
*.flf
*.dll
*.exe

Pwd_*
password.*
*Secret*
*.zip
PSScripts/Hetzner/Demos/Certs/star_waldo_be.cer
PSScripts/Hetzner/Demos/Certs/star_waldo_be.crt
PSScripts/Hetzner/Demos/Certs/star_waldo_be.csr
PSScripts/Hetzner/Demos/Certs/star_waldo_be.key
PSScripts/Hetzner/Demos/Certs/star_waldo_be.p7b
PSScripts/Hetzner/Demos/Certs/star_waldo_be.pem
PSScripts/Hetzner/Demos/Certs/star_waldo_be.pfx
PSScripts/Hetzner/TrainingEnv/Certs/DigiCertCA.crt
PSScripts/Hetzner/TrainingEnv/Certs/star_waldo_be.cer
PSScripts/Hetzner/TrainingEnv/Certs/star_waldo_be.crt
PSScripts/Hetzner/TrainingEnv/Certs/star_waldo_be.p7b
PSScripts/Hetzner/TrainingEnv/Certs/star_waldo_be.pem
PSScripts/Hetzner/TrainingEnv/Certs/star_waldo_be.pem.old
PSScripts/Hetzner/TrainingEnv/Certs - Old/star_waldo_be.cer
PSScripts/Hetzner/TrainingEnv/Certs - Old/star_waldo_be.crt
PSScripts/Hetzner/TrainingEnv/Certs - Old/star_waldo_be.csr
PSScripts/Hetzner/TrainingEnv/Certs - Old/star_waldo_be.key
PSScripts/Hetzner/TrainingEnv/Certs - Old/star_waldo_be.p7b
PSScripts/Hetzner/TrainingEnv/Certs - Old/star_waldo_be.pem
PSScripts/Hetzner/TrainingEnv/Certs - Old/star_waldo_be.pfx
